.blog-hero .hero-img {
  background: url(/img/blog-post/mountain-bg-hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.blog-texts .content-title {
  margin-top: 32px;
}

.blog-texts .img1-blog-texts {
  background: url(/img/blog-post/gallery1-tokyo-tablet-mobile.png) no-repeat;
  background-size: cover;
  height: 360px;
  width: 100%;
  margin-top: 24px;
}

.blog-texts .img2-blog-texts {
  background: url(/img/blog-post/gallery2-tokyo-mobile.png) no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 8px;
}

.blog-texts .legenda {
  font-size: 14px;
}

.blog-posts h2 {
  padding: 0 10px;
}

.blog-posts .img1-blog-posts {
  background: url(/img/blog-post/osaka-img1-mobile.png) no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 8px;
}

.blog-posts .img2-blog-posts {
  background: url(/img/blog-post/hiroshima-img2-mobile.png) no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 8px;
}

.blog-posts .img3-blog-posts {
  background: url(/img/blog-post/kyoto-img3-mobile.png) no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 8px;
}

.blog-posts a {
  width: 100%;
  margin-top: 16px;
}

.blog-posts .content-title {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .blog-hero .hero-img {
    background: url(/img/blog-post/mountain-bg-hero-desktop.png) no-repeat;
    background-size: cover;
  }
  .content-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .blog-posts .section-title {
    margin: 0px auto;
  }
  .blog-posts .section-title hr {
    margin: 0px auto;
    margin-top: 16px;
  }
  .blog-texts .img2-blog-texts {
    background: url(/img/blog-post/gallery2-tokyo-tablet.png) no-repeat;
    background-size: cover;
  }
  .blog-posts .img1-blog-posts {
    background: url(/img/blog-post/osaka-img1-tablet.png) no-repeat;
    background-size: cover;
    margin-top: 40px;
  }

  .blog-posts .img2-blog-posts {
    background: url(/img/blog-post/hiroshima-img2-tablet.png) no-repeat;
    background-size: cover;
    margin-top: 40px;
  }

  .blog-posts .img3-blog-posts {
    background: url(/img/blog-post/kyoto-img3-tablet.png) no-repeat;
    background-size: cover;
    margin-top: 40px;
  }
  .blog-posts a {
    width: auto;
  }
}

@media screen and (min-width: 1024px) {
  .blog-texts .img1-blog-texts {
    background: url(/img/blog-post/gallery1-tokyo-desktop.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .blog-texts .img2-blog-texts {
    background: url(/img/blog-post/gallery2-tokyo-desktop.png) no-repeat;
    background-size: cover;
  }
  .blog-posts .content-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
  }
  .blog-posts .img1-blog-posts {
    background: url(/img/blog-post/osaka-img1-desktop.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 64px;
  }

  .blog-posts .img2-blog-posts {
    background: url(/img/blog-post/hiroshima-img2-desktop.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 64px;
  }

  .blog-posts .img3-blog-posts {
    background: url(/img/blog-post/kyoto-img3-desktop.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 64px;
  }
}
