.hero .hero-img {
  height: 400px;
  width: 100%;
}

.hero .hero-img {
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.bottom-hero .hero-img {
  background: url(../img/bg-bottom-hero-mobile.png) no-repeat;
  background-size: cover;
  width: 98.8vw;
  height: 400px;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

/*PACOTES VIAGENS*/
.bottom-pacotes, .bottom-hero {
  padding: 0;
  margin: 0;
}

.bottom-pacotes .hero-img {
  background: url(../img/travel-packages/japan-bg-bottom-hero-mobile.png) no-repeat;
  background-size: cover;
  width: 98.8vw;
  height: 400px;
}

.hero-pacotes .hero-img {
  background: url(/img/travel-packages/japan-bg-hero-tablet.png) no-repeat;
  background-size: cover;
}

.hero-pacotes {
  color: var(--text-secondary-color);
  padding-bottom: 88px;
}

.hero-pacotes h1 {
  width: 312px;
  padding: 65px 24px 0 24px;
}

.hero-pacotes hr {
  margin: 16px 0 32px 0;
}

.hero-pacotes p {
  font-weight: var(--text-weight);
  line-height: 26px;
  padding: 0 24px 0 24px;
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .bottom-hero .hero-img {
    height: 400px;
    background: url(../img/bg-bottom-hero-tablet.png) no-repeat;
    background-size: cover;
  }
  .hero .hero-pacotes {
    background: url(../img/travel-packages/japan-bg-hero-tablet.png) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
  /*PACOTES VIAGENS*/
  .hero-pacotes {
    align-items: center;
  }
  .bottom-pacotes .hero-img {
    background: url(/img/travel-packages/japan-bg-bottom-hero-tablet.png) no-repeat;
    background-size: cover;
    height: 400px;
  }
  .hero-pacotes .hero-img {
    background: url(/img/travel-packages/japan-bg-hero-tablet.png);
  }
  .hero-pacotes h1 {
    width: auto;
    padding-top: 210px;
    font-size: 48px;
    padding-left: 120px;
  }
  .hero-pacotes p {
    padding: 0 50px 0 120px;
    font-size: 32px;
    line-height: 44px;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
  .bottom-hero .hero-img {
    height: 600px;
    background: url(../img/bg-bottom-hero-desktop.png) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 120px;
  }
  .hero .hero-pacotes {
    background: url(../img/travel-packages/japan-bg-hero-desktop.png) no-repeat;
    background-size: cover;
  }
  /*PACOTES VIAGENS*/
  .bottom-pacotes .hero-img {
    background: url(/img/travel-packages/japan-bg-bottom-hero-desktop.png) no-repeat;
    background-size: cover;
  }
  .hero-pacotes p {
    width: 770px;
  }
  .hero-pacotes .hero-img {
    background: url(/img/travel-packages/japan-bg-hero-desktop.png);
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
  /*PACOTES VIAGENS*/
  .hero-pacotes h1 {
    padding-left: 380px;
  }
  .hero-pacotes p {
    font-size: 32px;
    line-height: 44px;
    margin-left: 260px;
  }
}
